<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指定接口-->
<mapper namespace="com.smart.dao.UserDao">


    <!--通过geNumber获取角色-->
    <select id="findRoles" parameterType="String" resultType="String">
        select role
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <!--通过geNumber获取权限-->
    <select id="findPermissions" parameterType="String" resultType="String">
        select authority
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <select id="findByGeNumber" parameterType="String" resultType="User">
        select *
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <select id="getUserList" resultType="User">
        select * from user
    </select>

    <select id="getRecordByTime" parameterType="String" resultType="Record">
        select *
        from record r
        <where>
            <if test="begin!=null and begin!=''">
                r.applyTime >= #{begin}
            </if>
            <if test="end!=null and end!=''">
                and #{end} > r.applyTime
            </if>
            <if test="userState!=null and userState!=''">
                and r.state = #{userState}
            </if>
        </where>
        order by  r.applyTime DESC
    </select>
    <!-- 员工列表 -->
    <select id="listUser" parameterType="User" resultType="User">
        SELECT *
        FROM user u
        <where>
            <if test="geNumber!=null and geNumber!=''">
                u.geNumber LIKE #{geNumber}
            </if>
            <if test="geName!=null and geName!=''">
                AND u.geName LIKE #{geName}
            </if>
            <if test="userState!=null and userState!=''">
                AND u.userState=#{userState}
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND u.updateTime >= #{updateTime}
            </if>
            and u.userState!="删除" and u.role!="admin"
        </where>
        ORDER BY u.updateTime desc
    </select>

    <!--添加用户-->
    <insert id="addUser" parameterType="User" >
        INSERT ignore INTO user(geNumber,geName,password,createTime,updateTime,phone,role,authority,userState,email)
        VALUES(#{geNumber},#{geName},#{password},#{createTime},#{updateTime},#{phone},#{role},#{authority},"有效",#{email})
    </insert>

    <!--通过ID获取用户-->
    <select id="getUserById" parameterType="String" resultType="User">
        select distinct *
        from user
        where geNumber = #{geNumber}
    </select>

    <update id="updateUser" parameterType="User">
        update user
        set password=#{password},phone=#{phone},userState=#{userState},updateTime=#{updateTime}
        where geNumber=#{geNumber}
    </update>

    <update id="delUser" parameterType="String">
        update user
        set updateTime=#{updateTime},userState="删除"
        where geNumber=#{geNumber}
    </update>

    <update id="updatePassword" parameterType="String">
        update user
        set password=#{password},updateTime=#{updateTime}
        where geNumber=#{geNumber}
    </update>

    <update id="lockUser">
        update user
        set userState ="无效",updateTime=#{updateTime}
        where id=#{id}
    </update>

    <update id="clearUser">
        update user
        set userState ="有效",updateTime=#{updateTime}
        where id=#{id}
    </update>

    <!-- 通知列表 -->
    <select id="listInform" parameterType="Inform" resultType="Inform">
        SELECT distinct *
        FROM inform i
        <where>
            <if test="title!=null and title!=''">
                i.title LIKE #{title}
            </if>
            <if test="createTime!=null and createTime!=''">
                AND i.createTime >= #{createTime}
            </if>
            and geNumber=#{geNumber}
            and i.informState = 0
        </where>
        order by i.createTime desc
    </select>

    <select id="getInformById" parameterType="int" resultType="Inform">
        select distinct *
        from inform
        where id = #{id}
    </select>

    <update id="deleteInform">
        update inform
        set informState = 1,updateTime=#{updateTime}
        where id=#{id}
    </update>

    <insert id="addInform" parameterType="Inform">
        insert into inform(geNumber,detail,title,createTime,updateTime,informState)
        values(#{geNumber},#{detail},#{title},#{createTime},#{updateTime},0)
    </insert>

    <insert id="deductMoneyRecord" parameterType="MoneyRecord">
        insert into moneyrecord(geNumber,moneyBefore,moneyNow,moneyTime,account,reason)
        values (#{geNumber},#{moneyBefore},#{moneyNow},#{moneyTime},#{account},#{reason})
    </insert>

    <update id="deductMoney" parameterType="User">
        update user
        set userMoney = #{userMoney}
        where geNumber = #{geNumber}
    </update>
</mapper>