<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指定接口-->
<mapper namespace="com.smart.dao.UserDao">

    <!--通过geNumber获取角色-->
    <select id="findRoles" parameterType="String" resultType="String">
        select role
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <!--通过geNumber获取权限-->
    <select id="findPermissions" parameterType="String" resultType="String">
        select authority
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <select id="findByGeNumber" parameterType="String" resultType="User">
        select *
        from user
        where geNumber = #{geNumber} and userState="有效"
    </select>

    <!-- 员工列表 -->
    <select id="listUser" parameterType="User" resultType="User">
        SELECT *
        FROM user u
        <where>
            <if test="geNumber!=null and geNumber!=''">
                u.geNumber LIKE #{geNumber}
            </if>
            <if test="geName!=null and geName!=''">
                AND u.geName LIKE #{geName}
            </if>
            <if test="userState!=null and userState!=''">
                AND u.userState=#{userState}
            </if>
            and u.userState!="删除"
        </where>
    </select>

    <!--添加用户-->
    <insert id="addUser" parameterType="User" >
        INSERT INTO user(geNumber,geName,password,createTime,updateTime,phone,role,authority,userState)
        VALUES(#{geNumber},#{geName},#{password},#{createTime},#{updateTime},#{phone},"user","user","有效")
    </insert>

    <!--通过ID获取用户-->
    <select id="getUserById" parameterType="String" resultType="User">
        select *
        from user
        where geNumber = #{geNumber}
    </select>

    <update id="updateUser" parameterType="User">
        update user
        set password=#{password},phone=#{phone},userState=#{userState},updateTime=#{updateTime}
        where geNumber=#{geNumber}
    </update>

    <update id="delUser" parameterType="String">
        update user
        set updateTime=#{updateTime},userState="删除"
        where geNumber=#{geNumber}
    </update>

    <update id="updatePassword" parameterType="String">
        update user
        set password=#{password},updateTime=#{updateTime}
        where geNumber=#{geNumber}
    </update>

    <update id="lockUser">
        update user
        set userState ="无效",updateTime=#{updateTime}
        where id=#{id}
    </update>

    <update id="clearUser">
        update user
        set userState ="有效",updateTime=#{updateTime}
        where id=#{id}
    </update>
</mapper>